/* Error: "&" may only used at the beginning of a compound selector.
 *     ,
 * 489 |       ul li a&:hover {
 *     |              ^
 *     '
 *   dist\sass\home.scss 489:14  @use
 *   dist\sass\global.scss 5:1   root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: "&" may only used at the beginning of a compound selector.\a     \2577 \a 489 \2502        ul li a&:hover {\d\a     \2502               ^\a     \2575 \a   dist\\sass\\home.scss 489:14  @use\a   dist\\sass\\global.scss 5:1   root stylesheet';
}
